:root{
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainGrey: rgba(0, 0, 0, 0.32)
}

@media only screen and (max-width: 600px) {
  #s{
    display: none;
  }
  #social-media{
    background: #ececec;
  }
}

@media only screen and (max-width: 768px) {
  html::-webkit-scrollbar {
    display: none;
  }
}


body{
  font-family: Montserrat, sans-serif !important;
  background-color: var(--mainWhite);
  color: var(--mainDark);
}

#social-media a {
  text-decoration: none!important;
  color: #7b7b7b;
  transition: 0.2s ease-in-out;
}

#social-media a:hover {
  text-decoration: none!important;
  color: red;
}

#share a {
  text-decoration: none!important;
  color: black;
}

/* #social-media a:hover {
  text-decoration: none!important;
  color: red;
} */

input[type="number"] {
  background: #f6f6f6;
  border: none;
}

input[type="number"]:focus {
  outline: none;
}

.option{
  text-transform: capitalize;
  background-color: white;
  border: none;
  padding: 0.6rem 0.8rem;
  margin: 0 0.4rem;
  transition: 0.6s cubic-bezier(0, 0, 0.2, 1);
}
.option:hover{
  background: black;
  color: white;
}

.option.current{
  border: 1px solid black;
}

.option.current:hover{
  background: white;
  color: black;
}

.carousel-item{
  transition: transform 1.2s cubic-bezier(0.01, 1.14, 0.91, 1.08)!important;
}

.carousel-indicators{
    position: relative!important;
}

.carousel-indicators [data-bs-target]{
    background-color: #222323!important;
    border-radius: 50%;
    width: 12px!important;
    height: 12px!important;
    margin-right: 5px!important;
    margin-left: 5px!important;
}

.carousel-indicators .active{
    background-color: black;
}

.carousel-control-next, .carousel-control-prev {
  height: fit-content;
}

.info img{
  width: 100%;
}